<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Tasks</title>
</head>
<body ng-app="myApp">
    <div class="container_1">
        <header>
            <img class="logo" src="logo.png" alt="logo">
            <a href="index.html"><span>Home</span></a>
            <a href="tasks.html"><span>Tasks</span></a>
        </header>
        <div ng-controller="UserController" class="container_3"> 
            <div id="myModal" class="modal">
        <form>
            <div class="modal-content">
                
                <span class="close">&times;</span>

                <h3 style="text-align: left;color:#888;margin-left: 10px;">Add User</h3> 
                

                <label>Name:</label>
                <input type="text" name="name" ng-model="newUser.name">
                <br><br>

                <label>Age: </label>
                <input type="number" name="age" ng-model="newUser.age">
                <br><br>

                <label>City:</label>
                <input type="text" name="city" ng-model="newUser.city">
                <br><br>
            
                <input type="hidden" ng-model="newUser.id">
                <input class="save" type="button" value="Save" id="button1"ng-click="saveUser()">
                <br><br>
            </div>
        </form>
       
        </div> 
        <table >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>City</th>
                    <th>Actions</th>
                </tr>
            </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                    <td>{{user.name}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.city}}</td>
                    <td>
                        <a class="edit" id="button2" ng-click="edit(user.id)" ng-click="">Edit</a>
                        <a class="delete" ng-click="delete(user.id)">Delete</a>
                    </td>
                    </tr>
                </tbody>
        </table>
            <br>
        <button class="add" id="button3">Add</button>
        </div>
        <div class="calculator" >
            <input class="input_1" type="text" placeholder="0" id="screen">
            <button class="button_1" onclick="Clear()">CL</button>
            <button class="button_1" onclick="del()">DEL</button>
            <button class="button_1" onclick="display('%')">%</button>
            <button class="button_1" onclick="display('/')">/</button>
            <button class="button_1" onclick="display('7')">7</button>
            <button class="button_1" onclick="display('8')">8</button>
            <button class="button_1" onclick="display('9')">9</button>
            <button class="button_1" onclick="display('*')">*</button>
            <button class="button_1" onclick="display('4')">4</button>
            <button class="button_1" onclick="display('5')">5</button>
            <button class="button_1" onclick="display('6')">6</button>
            <button class="button_1" onclick="display('-')">-</button>
            <button class="button_1" onclick="display('1')">1</button>
            <button class="button_1" onclick="display('2')">2</button>
            <button class="button_1" onclick="display('3')">3</button>
            <button class="button_1" onclick="display('+')">+</button>
            <button class="button_1" onclick="display('.')">.</button>
            <button class="button_1" onclick="display('0')">0</button>
            <button class="button_1" onclick="calculate()"  class="equal">=</button>
        </div>

    
        
    </div>
</body>
</html>
<script src="script.js"></script>